@import "tailwindcss";
@plugin "daisyui";

:root {
	font-family: "Segoe UI", Tahoma, Geneva, Verdana, sans-serif;
	background-color: #121212;
}

html {
  scroll-behavior: smooth;
}

@font-face {
  font-family: "Montserrat";
  src: url("../assets/fonts/Montserrat-Regular.ttf") format("truetype");
}

.wave {
	display: inline-block;
	animation: wave-animation 2.5s infinite;
	transform-origin: 70% 70%;
}

.infinite-scroll {
	animation: animate-infinite-scroll 50s linear infinite;
}

@keyframes wave-animation {
	0% {
		transform: rotate(0deg);
	}
	10% {
		transform: rotate(16deg);
	}
	20% {
		transform: rotate(-8deg);
	}
	30% {
		transform: rotate(16deg);
	}
	40% {
		transform: rotate(-4deg);
	}
	50% {
		transform: rotate(10deg);
	}
	60% {
		transform: rotate(0deg);
	}
	100% {
		transform: rotate(0deg);
	}
}

@keyframes animate-infinite-scroll {
	0% {
		transform: translateX(0);
	}
	100% {
		transform: translateX(-100%);
	}
}

@utility btn {
	@apply bg-transparent font-[Montserrat] border-[#f6f6ee] text-[#f6f6ee] hover:bg-[#f6f6ee] hover:text-[#121212];
}
