@import "tailwindcss";

.font-tall {
	font-family: 'Arial Narrow';
	font-weight: bold;
}

.font-custom {
	font-family: "myfont", sans-serif;
	font-weight: bold;
}

:root {
	font-family: "Segoe UI", Tahoma, Geneva, Verdana, sans-serif;
}
